body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

input:focus {
  outline: 0;
}

.input-wrap .success {
  border: 3px solid green;
}

.input-wrap .error {
  border: 3px solid red;
}

.form {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}

.input-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 0;
}

.input-wrap input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-size: 18px;
}
.input-wrap label {
  margin-bottom: 10px;
}

.registrationContainer,
.loginContainer {
  display: flex;
  justify-content: space-around;
}
.form button {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  background-color: darkviolet;
  border: none;
  border-radius: 4px;
}
